*,
html {
    margin: 0;
    padding: 0;
}

.image-navbar {
    background-color: rgb(83, 82, 82);
    float: left;
    height: 90px;
    width: 100px;
    background-size: 50px;
    padding-left: 30px;
}

.ul-NAVBAR {
    background-color: rgb(83, 82, 82);
    display: flex;
    justify-content: center;
    list-style: none;
    height: 90px;
}

.li-NAVBAR {
    Padding: 20px;
    margin: 10px;
    color:white;
    font-size: 30px;
    text-decoration: none;
}

.image-container1 {
    width: 100%;
}

.container2 {
    justify-content: center;
    align-items: center;
}

.h2-container-2 {
    text-align: center;
    padding-top: 50px;
}

.pilar-h2 {
    width: 100%;
}

.container-IMB {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.CONTAINER3 {
    text-align: center;
    font-style: italic;
    padding-top: 30px;
}

.container3-h1 {
    border: 4px solid rgb(66, 54, 54);
    border-radius: 20px;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}

.img-container3 {
    width: 350px;
    height: 490px;
    margin-left: auto;
    margin-right: auto;
}

.container3-h2 {
    text-align: center;
    padding-top: 10px;
    font-style: arial;
}

.h1-container3 {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    border: 4px ridge rgb(158, 76, 76);
    border-radius: 20px;
    width: 21%;
    margin-top:30px;
}

.slider-container {
    width: 600px;
    overflow: hidden;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
}

.slide {
    display: flex;
    width: 300%;
    animation: slide 18s infinite;
}

.slide-img {
    width: 35%;
    justify-content: center;
}

@keyframes slide {
    0% { margin-left: 0%; }
    20% { margin-left: 0; }
    30% { margin-left: -110%; }
    50% { margin-left: -110%; } /* Tahan di gambar 2 */
  100% { margin-right: -110%; }
}

.container-prayer {
    text-align: center;
    font-style: italic;
    padding-top: 20px;
}

.h1-prayer {
    border: 4px solid rgb(66, 54, 54);
    border-radius: 20px;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}

.image-prayer {
    width: 50%;
    height: 50%;
    margin-top: 10px;
}

.container-serve {
    text-align: center;
    font-style: italic;
    padding-top: 30px;
}

.h1-serve {
    border: 4px solid rgb(66, 54, 54);
    border-radius: 20px;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}

.image-serve {
    display: flex;
    justify-content: center;
    gap: 20px;
    display: grid;
}

.img-serve {
    padding-top: 10px;
    width: 300px;
    height: auto;
    display: flex;
    justify-content: center;
}

.gallery {
    text-align: center;
    font-style: italic;
    padding-top: 30px;
}

.gallery-content {
    border: 4px solid rgb(66, 54, 54);
    border-radius: 20px;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}

.slider-container2 {
    width: 600px;
    overflow: scroll;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
}

.slide2 {
    display: flex;
    width: 100%;
}

.slide-img2 {
    width: 100%;
    height: 30%;
    justify-content: center;
}

.location-container {
    text-align: center;
    padding-top: 30px;
}

.h1-maps {
    border: 4px solid rgb(66, 54, 54);
    border-radius: 20px;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}

.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.iframe-maps {
    width: 50%;
    height: 400px;
    border: 3px solid rgb(83, 54, 54);
    border-radius: 10px;
}

.text-alamat {
    text-align: center;
    padding-top: 10px;
}


.sosmed-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-container {
    padding-top: 10px;
    height: 90px;
    margin-left: auto;
    margin-right: auto;
}

.click-sosmed {
    width: 100%;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}